* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #151616;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
}

a {
  text-decoration: none;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 950px;
  margin: auto;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 1rem;
}

header {
  background: #43c1ca;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.title {
  font-size: 26px;
  text-transform: uppercase;
}

section {
  padding: 20px;
  background-image: url("./images/image5.png");
  background-repeat: no-repeat;
  height: 90%;
  z-index: 10;
  border-radius: 0 0 1rem 1rem;
}

/*********FORMULARIO********** */
#formContainer {
  max-width: 300px;
  background: #868686bb;
  padding: 20px;
  float: right;
  border-radius: 5px;
}

.mb {
  /***CLASSE PARA DA MARGIN**/
  margin-bottom: 15px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
}

p {
  color: white;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  color: white;
  background: #48c5ce;
  font-weight: bold;
  width: 100%;
}

input[type="submit"]:hover {
  color: rgb(19, 2, 2);
  background: #16c8d5;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("./images/arrow.jpg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
}

#aviso {
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  padding: 2px;
  color: black;
  background: rgba(249, 5, 5, 0.805);
  /* font-weight: bold; */
  justify-content: center;
  display: none;
}

#card {
  width: 500px;
  max-width: 90%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.757);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  border-radius: 20px;
  z-index: 10;
}

span {
  color: green;
}

#fade {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  /* opacity: 0.6; */
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

button {
  color: white;
  background: #48c5ce;
  font-weight: bold;
  width: 100%;
  top: -46px;
  position: relative;
  display: none;
  z-index: 10;
  border-radius: 5px;
  border: none;
}

i {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  margin-top: 2px;
}

.bi {
  animation: load infinite;
  animation-duration: 2s;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/******* FIM FORMULARIO *******/
footer {
  background: #151616;
  padding: 40px;
  text-align: center;
}

@media (min-width: 280px) and (max-width: 768px) {
  .container {
    width: 95%;
    
  }
  
  

  #formContainer {
    background-color: rgba(44, 48, 48, 0.825);
    max-width: 420px;
    width: 90vw;
    margin: auto;
  }

  #formContainer .description {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
    color: aliceblue;
  }

  input,
  select {
    padding: 18px;
    font-size: 16px;
  }

  #aviso {
    font-size: 16px;
  }

  #card {
    width: 80%;
  }

  button {
    top: -68px;
    padding: 0.7rem;
  }
}
